[Desktop Entry]
Type=Application
Name=Dolphin Clean Title
Comment=Configure Dolphin title cleaning
Exec=/usr/bin/dolphin-clean-title ui
TryExec=/usr/bin/dolphin-clean-title
Icon=com.github.d0d1.DolphinCleanTitle
Terminal=false
Categories=Settings;
StartupNotify=true
StartupWMClass=com.github.d0d1.DolphinCleanTitle
X-GNOME-Application-ID=com.github.d0d1.DolphinCleanTitle
